body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100svh;
  font-family: Georgia, "Times New Roman", Times, serif;
  overflow-x: hidden;
  width: 100%;
}
html {
  scroll-behavior: smooth;
}
* {
  margin: 0;
  padding: 0;
}
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 10svh;
  background-color: grey;
  box-shadow: 0px 0px 15px 0px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 3%;
}
header a {
  user-select: none;
  text-decoration: none;
  color: lightgray;
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  transition: 0.2s ease-in-out;
  padding: 0.3em;
}
input {
  display: none;
}
header a:hover {
  transition: 0.2s ease-in-out;
  font-size: 2.2rem;
  cursor: pointer;
}
.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  padding-top: 14svh;
}
.gamma {
  width: 100svw;
}
.text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.4em;
}
#pag {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #d1cecd;
  border-radius: 20px;
  box-shadow: #363332 0px 0px 15px 0px;
  max-width: 90%;
  padding: 1em;
}
.textprim {
  background-color: #d1cecd;
  border-radius: 20px;
  box-shadow: #363332 0px 0px 15px 0px;
  max-width: 90%;
  padding: 1em;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 2%;
}
.textsecund {
  display: none;
  margin-top: 2%;
  margin-bottom: 2%;
  background-color: #d1cecd;
  border-radius: 20px;
  box-shadow: #363332 0px 0px 15px 0px;
  max-width: 90%;
  padding: 1em;
}
.imagine {
  max-width: 100%;
  padding: 0;
  object-fit: fill;
  border-radius: 20px;
}
.info {
  display: flex;
  flex-direction: column;
}
.textprim h2 {
  align-self: center;
}
.container label {
  user-select: none;
  color: #3272d9;
  transition: all 0.2s ease-in;
}
.container label:hover {
  cursor: pointer;
  color: #1451b5;
}
.open {
  display: none;
}
svg {
  fill: lightgray;
}
#roma20:checked ~ #romasecund {
  display: inline-block;
}
#madrid20:checked ~ #madridsecund {
  display: inline-block;
}
#lyon20:checked ~ #lyonsecund {
  display: inline-block;
}
#atena20:checked ~ #atenasecund {
  display: inline-block;
}
#timisoara20:checked ~ #timisoarasecund {
  display: inline-block;
}
#zagreb20:checked ~ #zagrebsecund {
  display: inline-block;
}
@media (max-width: 1100px) {
  .textprim {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
@media (max-width: 1200px) {
  header {
    gap: 1%;
  }
}
@media (max-width: 995px) {
  #sactive:checked ~ #overlay {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
  }
  .nouhead {
    position: fixed;
    height: 300px;
    width: 300px;
    background-color: grey;
    max-height: 10svh;
    width: 100%;
    min-height: 5em;
    box-shadow: 0 0 20px;
  }
  header {
    position: fixed;
    top: 0;
    left: auto;
    right: -286px;
    min-height: 100svh;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    transition: ease-out 0.55s 0s;
    box-shadow: none;
  }
  #sactive:checked ~ header {
    right: 0;
    box-shadow: 0 0 20px;
  }
  .header {
    display: grid;
    gap: 2em;
    margin-top: 20px;
  }
  .open {
    display: inline-block;
    padding-right: 2%;
  }
  .nouhead {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
  }
}
